<h3>Título de la Página</h3>
<h4>Subtítulo de la página</h4>

<a [routerLink]="['/acerca']" routerLinkActive="activa"></a>
<a [routerLink]="['/contacto']" routerLinkActive="activa"></a>
<a [routerLink]="['/info']" routerLinkActive="activa"></a>
<a [routerLink]="['/grilla']" routerLinkActive="activa"></a>

<router-outlet></router-outlet>

<div class="botones">
  <button (click)="onClick('acerca')">About</button>
  <button (click)="onClick('contacto')">Contacto</button>
  <button (click)="onClick('info')">Info</button>
  <button (click)="onClick('grilla')">Malla</button>
</div>
